.Main-header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--header-nav-global-bg-color);
    height: 2rem;
    width: auto;
    margin: 0;
    padding: .5rem;
}

/* .Main-header-left-side {
    border: white solid 1px;
    display: flex;
    align-content: center;
    padding: .5rem;
} */

.Main-header > ol {
    padding: 0;
    font-size: .8rem;
    color: white;
    font-weight: 100;
    display: flex;
    list-style: none;
    padding: 0 7rem 0 0;
}

.Main-header-right-side {
    border: white solid 1px;
}