.Header-container {
    display: flex;
    justify-content: center;
    /* border: solid 2px rgb(182, 42, 247); */
    border-bottom: solid 1px rgb(61, 134, 245);
    height: 5rem;
    width: auto;
  }

  .nav-global {
    display: flex;
    justify-content: space-around;
    /* border: solid 2px rgb(43, 244, 39); */
    height: 100%;
    padding: .8rem 2rem;
    background-color: rgb(0, 0, 255);
  }

  .logo-anchor {
    /* border: solid black 1px; */
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    max-width: 7rem;
  }

  .logo-anchor > a {
    color: white;
    text-decoration: none;
  }


  .hamburger-menu {
    /* border: solid black 1px; */
    display: flex;
    justify-content: flex-start;
    margin: 0 .5rem;
    max-width: 6.30rem;
  }

  .hamburger-menu-line {
    /* border: solid black 1px; */
    border-radius: .3rem;
    height: .15rem;
    background-color: white;
    max-width: 1.5rem;
  }

  .dropdown-menu {
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: .5rem .2rem .5rem .5rem;
    width: 2.75rem;
  }

  .hamburger-menu > button {
    margin: 0;
    height: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 0;
    /* background-color: rgb(109, 177, 223); */
    background-color: rgb(0, 0, 255);
    border: none;
  }

  .search-bar > label {
    width: 0;
  }

  .search-bar > input {
    width: 90%;
    border: none;
    border-radius: .2rem 0 0 .2rem;
    padding: .5rem;
  }

  .search-bar {
    /* border: solid rgb(242, 5, 5) 1px; */
    display: flex;
    height: 100%;
    width: 20rem;
  }

  .search-bar > button {
    margin: 0;
    height: 100%;
    width: 2rem;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 .2rem .2rem 0;
  }

  .store-locator {
    /* border: solid black 1px; */
    margin: 0 1rem;
    height: 100%;
    width: 6.75rem;

  }

  .store-locator > button {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: .9rem;
    border: none;
    border-radius: .2rem;
    color: white;
    background-color: rgb(0, 0, 255);
  }

  .cart {
    /* border: solid black 1px; */
    max-width: 3rem;
  }

  .cart > button {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: .2rem;
    color: white;
    background-color: rgb(0, 0, 255);
  }

  