.product-container {
    border: solid black 3px;
    display: grid;
    padding: 1rem;
    overflow: scroll;
   
}

.product-card {
    border: solid rgb(232, 230, 230) 1px;
    border-style: solid none none none;
    background-color: var(--product-card-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 15rem;
    padding: 1rem;
    font-size: .5rem;
    
}

img {
    /* border: solid black 1px; */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-card-column-left {
    height: 100%;
}

.product-card-column-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-card-column-middle > h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: .5rem;
    width: auto;
}

.product-card-column-middle > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7rem;
    font-weight: normal;
    height: 4rem;
}

.product-card-column-middle > p {
    display: flex;
    justify-content: center;
    font-size: .8rem;
    margin: .5rem;
    width: auto;
    height: 4rem;
}

.product-card-column-right > h2 {
    font-size: 2rem;
    text-align: left;
    height: 3rem;
}

.product-card-column-right {
    width: auto;
    height: 100%;
    /* height: 4rem; */

    justify-content: center;
    align-items: center;
    padding: 1rem;
}

button {
    height: 2.5rem;
    width: 100%;
}

/* .grid-product-card-image {
    grid-area: product-card-image;
} */

/* .grid-product-card-body {
    grid-area: product-card-body;
} */

/* .grid-product-card-button {
    grid-area: product-card-button;
} */

/* .product-image {
    border: black solid 1px;
} */

/* .product-name {
    border: black solid 1px;
} */

/* .product-description {
    border: black solid 1px;
} */

/* .product-price {
    border: black solid 1px;
} */